* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.main-con {
  height: auto;
}
.card-con {
  border-radius: 12px;
  border-color: #12022f;
  border-width: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
